body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  margin: 50px auto;
  background: #8ceca7;
  height: 100%;
}
#canvas-container {
  width: 100%;
  /* height: 400px; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pauseButton {
  width: 100px;
  
}

.messageContainer {
  position: absolute;

  /* Center a message */
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  height: 100px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-radius: 10px;
  visibility: hidden;
}
.lose {
  color: rgb(255, 0, 0);
  background-color: rgba(73, 0, 0, 0.864);
  border-color: #ff0000;
}

.win {
  color: rgb(63, 252, 0);
  background-color: rgba(49, 112, 75, 0.823);
  border-color: #0dff00;
}

.pause {
  color: rgb(73, 73, 73);
  background-color: rgba(255, 255, 255, 0.823);
  border-color: #949494;
}