@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1f2639;
}

.title {
  color: white;
}

header h1 {
  margin-top: 20px;
  color: white;
  user-select: none;
}

canvas {
 
  margin: 50px auto;
  border-radius: 10px;
  /* background: #8ceca7; */
  background: bisque;
  /* height: 100%; */
}

#canvas-container {
  /* height: 400px; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

